{% load static %}
<!DOCTYPE html> 
<html> 
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
  
<body style="text-align: center;"> 

    <video width="1000px" height="1000px" controls="controls"/> <source src='https://r4---sn-hgn7yn7s.googlevideo.com/videoplayback?expire=1654162069&ei=dWaYYt27IvCJ6dsPhYW7qAs&ip=2001:41d0:8:d0ce::&id=e8cd8d073f122a5e&itag=18&source=picasa&begin=0&requiressl=yes&sc=yes&susc=ph&app=fife&ic=51&eaua=Tpnrm4D7-TU&eaer=1&mime=video/mp4&vprv=1&prv=1&dur=1235.348&lmt=1610125668547069&sparams=expire,ei,ip,id,itag,source,requiressl,susc,app,ic,eaua,eaer,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRQIgRlXXskow4qkDa1FtFDrbX_yiQ8-WWjn-ml_OTgY857ICIQDw5xcrm7w0TdoeWBnfingUebfd_0OGCbep2ybH8_9PIA==&title=www.stardima.com%201907375719&t=hhhh&c=ANDROID&redirect_counter=1&rm=sn-25gds7s&req_id=5642bec56402a3ee&cms_redirect=yes&ipbypass=yes&mh=oo&mip=156.214.131.203&mm=32&mn=sn-hgn7yn7s&ms=su&mt=1654154426&mv=m&mvi=4&pl=18&lsparams=ipbypass,mh,mip,mm,mn,ms,mv,mvi,pl,sc&lsig=AG3C_xAwRAIgQ9oOJCS4lfVE144B3MS8RsEskJpK-shmhRp3Cs-TCaICIB-LoMGcbdtkYiSjswf9SyHgLonyH2apHXGNu05hiUiH'>
</body> 
  
</html> 


<!-- https://api.themoviedb.org/3/keyword/4344/movies?api_key=b3b2cba3f60060d27295ae00e67c7f6e&language=en-US -->